@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    font-family: 'poppins';
}
.header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
   
  }
  
  .header  li {
    float: left;
    padding:10px;
  }
  
  .header  li a {
    display: block;
    color: black;
    text-align: center;
    font-size: 18px;
    padding: 14px 16px;
    text-decoration: none;
    transition: .1s linear;
}
  
  
.header  li a.active {
   font-weight: 600;
    color: dodgerblue !important;
    border-radius: 15px;
  }